a{
    /* color: white; */
    text-decoration: none;
    font-family: 'Neuton', serif;
    font-weight: 400;
    font-size: 1.4em;
}
#pp{
    position: relative;
    top: 9px;
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    font-weight: 400;
    
}
h2{
    /* color: #333333; */
    
    display: inline-block;
    position: absolute;
    top: 28%;
    left: 7%;
    line-height: 140%;
    /* border: 1px solid black; */
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 700;
    font-size: 2.6em;
    width: 57%;
    padding-left: 0px;
    padding-right: 10px;
    z-index: 2;
}
body{
    background-color:  #000000;
}
span{
    /* border: solid 1px red; */
    position: absolute;
    right: 1%;
    top: 2.5%;
}
#desc{
   width: 62%;
   
    /* border: solid 1px yellow; */
    font-size: 28px;
    position: absolute;
    left: 7%;
    top: 35%;
    padding: 5px 3px 5px 2px;
    font-family: 'Righteous', sans-serif;
    font-weight: 500;
    line-height: 1.2;
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

