a{
    color: white;
    text-decoration: none;
    font-family: 'Neuton', serif;
    font-weight: 400;
    font-size: 1.4em;
}

.heading2{
    
    display: inline-block;
    /* margin: auto; */
    
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 700;
 font-size: 40px;
    z-index: 2;
    /* padding: 12px; */
    margin-left: 24px;
    
}

/* body{
    background-color:  #000000;
} */

.sectionTech{
    display: block;

    border: 1px solid #666666;
    background-color: #1b1b1b;
    border-radius: 13px;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;

    animation: appearFromBottom 1s;

    box-shadow: 1px -3px 10px #9B30FF;
    
}

.smallScreenComp{
    display: none;
}





@media only screen and (max-width: 500px){

    .heading2{
        display: inline-block;
        margin: auto;
        /* border: 1px solid rgb(179, 131, 131); */
        font-size: 25px;
        padding: 3%;
    }
    .sectionTech{
        display: flex;
        flex-wrap: wrap;
        
        /* border: 1px solid red; */

        border: 1px solid #666666;
        background-color: #1b1b1b;
        border-radius: 13px;
        width: 90%;
        /* height: 60vh; */
        margin-top: 2%;
        margin-bottom: 2%;

        animation: appearFromBottom 1s;
        box-shadow: 1px -3px 10px #9B30FF;
    
    }
    
    .largeScreenComp{
        display: none;
    }
    .smallScreenComp{
        display:flex ;
        flex-direction: row;
        flex-wrap: wrap;

    }
    

}
@keyframes appearFromBottom{
    0%{
        transform: translateY(+20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
