@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');



a{
    color: white;
    text-decoration: none;
    font-family: 'Neuton', serif;
    font-weight: 400;
    font-size: 1.4em;
    /* border: 1px solid yellow; */
}

h2{
    color: #000000;
    width: 80%;
    margin: auto;
    
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 700;
    font-size: 2.6em;
   
    padding: 15px 30px 15px 20px;
    z-index: 2;
    /* border: 2px solid yellow; */

}
/* body{
    background-color:  #000000;
} */

#ed p{
   
    /* font-size: 4.5vmin; */
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    /* border: 2px dotted rgb(0, 255, 200); */

}
#ed{
    display: block;
    /* border: 1px dashed rgb(4, 255, 59); */
    width: 80%;
    margin: auto;

}
.duration{
    padding: 4px;
    font-size: 3.3vmin;
    /* border: 1px solid rgb(255, 38, 0); */

}
.from{
    padding: 4px;
    font-size: 3.3vmin;   
    font-family: 'PT Serif', serif;
    font-weight: 100;
    /* border: 1px solid rgb(255, 8, 255); */

}
.hsc{
    padding: 4px;
    /* border: 2px solid chocolate; */
    color: white;
    
}
.ssc{
    /* border: 2px solid rgb(0, 255, 64); */
    padding: 4px;

}

#first{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
    /* border: 2px solid firebrick; */
    justify-content: space-evenly;
    height: 80vh;

    border: 1px solid #666666;
    background-color: #1b1b1b;
    border-radius: 13px;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    animation: appearFromBottom 1s;
    box-shadow: 1px -3px 10px #9B30FF;
    
}

@keyframes appearFromBottom{
    0%{
        transform: translateY(+20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.allThree{
    width: 100%;
    /* border: 1px solid rgb(255, 255, 255); */
    display: flex;
    flex-flow: column;

    justify-content: space-evenly;

    border: none;
    
    background-color: #333333;
    border-radius: 13px;
    /* margin: auto; */
    
    
    
}
.educationAndDuration{
    display: flex;
    align-items: start;    
    justify-content: space-between; 
    font-size: 4.1vh;

}
/* align items vertically center */



@media only screen and (max-width: 1050px){
    .allThree{
        width: 95%;
        display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    /* border: 1px solid hotpink; */
    border: 1px solid #666666;
    
    border-radius: 13px;
    margin: auto;

    }
    .educationAndDuration{
        display: flex;
        align-items: start;    
        justify-content: space-between; 
        /* border: 1px solid red; */
        font-size: 2.3vh;
        
    }
    #first{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        /* border: 2px solid firebrick; */
        justify-content: space-evenly;
        height: 60vh;

        border: 1px solid #666666;
        background-color: #1b1b1b;
        border-radius: 13px;
        width: 95%;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;

        animation: appearFromBottom 1s;
        
        box-shadow: 1px -3px 10px #9B30FF;
    

        
    }

    h2{
        display: block;
        text-align: center;
        padding: 2%;
        line-height: 140%;
        font-family: 'Rethink Sans', sans-serif;
        font-weight: 700;
        font-size: 8vmin;  
        z-index: 2;
        /* border: 2px solid yellow; */
        border: none;
    }
    #ed{
        display: block;
        /* border: 1px dashed rgb(102, 0, 255); */
        width: 100%;
        /* padding: 2%; */

    }
    .from{
        padding: 4px;
        font-size: 1.8vh;   
        font-family: 'PT Serif', serif;
        font-weight: 100;
        /* border: 1px solid rgb(255, 8, 255); */
    
    }
     
}
