/* a{
    color: #183a1d;
    text-decoration: none;
    font-family: 'Neuton', serif;
    font-weight: 400;
    font-size: 1.4em;
} */
#header{
   background-color: #000000;
}

h2{
    line-height: 140%;
    /* border: 1px solid rgb(255, 0, 0); */
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 700;
    font-size: 5vw;
    padding-left: 0px;
    padding-right: 10px;
    z-index: 2;
}
/* body{
    background-color:  #000000;
} */

#desc{
    /* position: absolute; */
    font-size: 2vw;
    font-family: 'Righteous', sans-serif;
    /* w */
    line-height: 100%;
    padding-left: 10%;
    color: gray;
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.cols{
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 40%;  
    width: 90%;
    background-color: transparent;
    /* border: 1px solid rgb(0, 225, 255); */
    margin: auto;
    /* border-top: 2px solid rgb(249, 251, 252); */
}
@keyframes appearFromBottom{
    0%{
        transform: translateY(+20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

 
img{
    border-top-right-radius: 15px;
    /* padding: 1%; */
} 
#single{
    /* border: 2px solid darkblue; */
    display: flex;
    /* width: 90%; */
    /* margin: auto; */
    justify-content: space-between;

    border: 1px solid #666666;
    background-color: #1b1b1b;
    border-radius: 13px;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    
    animation: appearFromBottom 1s;

    box-shadow: 1px -3px 10px #9B30FF;
    
}
.right{
    /* border: 1px solid rgb(11, 183, 206); */
    display: flex;
    flex-flow: column;
    /* padding: 1%; */
    width: 50%;
    padding-top: 10%;
    
    
}
.left{
    display: flex;
    flex-flow: column;
    /* border: 1px solid yellow; */
    width: 40%;
    justify-content: start;
    align-items: center;
    padding-top: 10%;

    /*  */
    /* transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease; */

 } 
 .techUsed{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: transparent;
 } 
 .techUsed button{
    margin: 1px 1px 2px 1px;
 }



@media only screen and (max-width: 1050px){

    .techUsed{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    img{
        border-top-right-radius: 15px;
        padding: 2%;
    } 


    .right{
        /* border: 1px solid greenyellow; */
        display: flex;
        flex-flow: column;
        /* padding: 10px; */
        /* margin: 4px;; */
        width: 100%;
    }
    .left{
        /* display: flex; */
        /* border: 1px solid yellow; */
        width: 100%;
        padding-top: 2%;

        /* transform: translateY(20px); */
        /* transition: opacity 0.5s ease, transform 0.5s ease; */
     } 

    .cols{
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        /* height: 40%;   */
        width: 100%; 
        background-color: transparent;
        /* border: 1px solid rgb(249, 251, 252); */
        margin: 20px 0px 25px 0px;
        
    }

    #single{
        /* border: 2px solid darkblue; */
       display: flex;
       flex-direction: column;
       justify-content: center;
       
       align-content: space-between;

       border: 1px solid #666666;
        background-color: #1b1b1b;
        border-radius: 13px;
        width: 90%;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;

        animation: appearFromBottom 1s;

        box-shadow: 1px -3px 10px #9B30FF;
    
    }
    h2{
        line-height: 140%;
        /* border: 1px solid rgb(255, 0, 0); */
        font-family: 'Rethink Sans', sans-serif;
        font-weight: 700;
        text-align: center;
        font-size: 5vh;
        z-index: 2;
    }
    #desc{
        text-align: center;
        /* border: 1px solid yellow; */
        width: 100%;
        font-size: 2.5vh;
        padding-left: 0%;
        padding-top: 2%;
        color: grey;
    }

}
